body {
  background-color: #0d0000;
}
.marcacao {
  background-color: #0d0000;
}

.img-logo {
  bottom: 150px;
  right: 50px;
}

.img-logo img {
  height: 100px !important;
  width: 100px !important;
}

.artista div:first-of-type h2 {
  display: none;
}
.titulo-artista {
  font-family: 'Berkshire Swash', serif;
  font-size: 3rem;
}

.habilidades {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 10px;
}

.card-skill {
  width: 250px;
  height: 250px;
  background-color: #1e0000;
  box-shadow: 5px 2px #fff;
  border-radius: 10px;
}

.header-sessao {
  max-width: 700px;
}

@media (max-width: 1500px) {
  .artista {
    flex-direction: column;
  }

  .artista div:first-of-type h2 {
    display: flex;
  }

  .artista div:nth-of-type(2) h2 {
    display: none;
  }
}

@media (max-width: 970px) {
  .artista img {
    width: 400px;
  }

  .artista .col-4,
  .artista .col-8 {
    width: 100% !important;
    min-width: 100%;
  }

  .habilidades {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
}

@media (max-width: 770px) {
  .fonte-titulo:nth-child(1) {
    font-size: 2.8rem !important;
  }
  .info-artista {
    width: 100% !important;
    margin-inline: auto !important;
  }
  .img-logo {
    bottom: 70px;
    right: 0;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .titulo-artista {
    font-size: 2rem;
  }

  .header-sessao {
    max-width: 500px;
  }

  .header-sessao .fonte-titulo {
    font-size: 13px !important;
  }

  .header-sessao p {
    font-size: 16px !important;
  }
  .habilidades {
    gap: 20px;
  }
}

@media (max-width: 600px) {
  .fonte-artista {
    font-size: 7.5rem;
    margin-bottom: 1rem !important;
  }

  .card-skill {
    width: 100px;
    height: 100px;
  }

  .card-skill img {
    width: 40px;
    height: 40px;
  }

  .card-skill h2 {
    font-size: 11px !important;
  }

  .card-skill p {
    display: none;
  }
}

@media (max-width: 400px) {
  .fonte-artista {
    font-size: 7.5rem;
    margin-bottom: 1rem !important;
  }

  .img-logo {
    bottom: 50px;
  }

  .img-logo img {
    height: 80px !important;
    width: 80px !important;
  }
  .titulo-artista {
    font-size: 1.7rem;
  }
}
