/* Reset CSS Básico */

/* Remove margens e paddings padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove estilos padrão de listas */
ul,
ol {
  list-style: none;
}

/* Remove decoração de links */
a {
  text-decoration: none;
  color: inherit !important;
}

/* Define uma base tipográfica */
html {
  font-size: 100%; /* 16px padrão */
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
}

/* Remove bordas de inputs e botões no foco */
button,
input,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
  background: none;
}

/* Define imagens responsivas */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

.mt-sessao {
  margin-top: 150px;
}

.mb-sessao {
  margin-bottom: 100px;
}

.hidden {
  display: none;
}

@media (max-width: 800px) {
  .col-4,
  .col-6,
  .col-8,
  .col-10 {
    width: 100% !important;
  }

  .mb-sessao {
    margin-bottom: 50px;
  }
}
